version: '3'
services:
  my_app:
    container_name: my_app
    hostname: my_app
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    restart: always
      
  mysql_db:
    container_name: mysql_db
    hostname: mysql_db
    image: mysql:8.1.0
    ports:
      - "32001:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=12345678
      - MYSQL_DATABASE=discounts
      - MYSQL_PASSWORD=12345678
      - MYSQL_USER=user
    volumes:
      - mysql:/var/lib/mysql

  phpmyadmin:
    container_name: phpmyadmin
    hostname: phpmyadmin
    image: phpmyadmin:5.2.1
    restart: always
    links:
      - mysql_db
    ports:
      - 8080:80
    environment:
      - PMA_HOST=mysql_db
      - MYSQL_USERNAME=user
      - MYSQL_ROOT_PASSWORD=12345678
      - PMA_PORT=3306
      - PMA_ARBITRARY=1

volumes:
  mysql: